<input type="file" #file style="display:none" (change)="onFilesAdded($event)" multiple>

<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 mat-dialog-title>Upload Files</h1>
  <div>
    <button [disabled]="uploading || uploadSuccessful" class="add-files-btn" (click)="addFiles()">
      Add Files
    </button>
  </div>

  <!-- This is the content of the dialog, containing a list of the files to upload -->
  <!-- <mat-dialog-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        <h4 mat-line>{{file.name}}</h4>
        <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async">
        </mat-progress-bar>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>

   This are the actions of the dialog, containing the primary and the cancel button
  <mat-dialog-actions class="actions">
    <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!canBeClosed || !fileAdded" (click)="closeDialog()">
      {{primaryButtonText}}
    </button>
  </mat-dialog-actions> -->

  <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
  </div>
  <div class="modal-body">
    <ul *ngFor="let file of files">
      <li>
        <h4>{{file.name}}</h4>
        <div class="progress">
          <div class="progress-bar" *ngIf="progress" role="progressbar"
            aria-valuenow="progress[file.name].progress | async" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
    </ul>

  </div>
  <div class="modal-footer">
    <button *ngIf="showCancelButton" >Cancel</button>
    <button type="button" class="btn btn-outline-primary" [disabled]="!canBeClosed || !fileAdded" (click)="closeDialog()">{{primaryButtonText}}</button>
  </div>
</div>