<nav class="navbar navbar-expand navbar-info " style="background-color: #1F9BCF;" *ngIf="currentUser">
  <a class="navbar-brand" href="/">Hyper</a>
  <a class="navbar-item nav-link" style="visibility:unset;" routerLink="/profiles">Profiles</a>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

    <!--dropdown profile logout to add-->
      <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.username}} [{{currentUser.role}}]</a>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li> -->
    <a class="navbar-item nav-link"  id="username"> {{currentUser.username}} [{{currentUser.role}}]</a>
    <a class="navbar-item nav-link" id="logout"(click)="logout()">Logout</a>
  </ul>
</nav>                            