<div class="container mx mx-auto p-5" style="width: 50rem">
<div class="panel panel-primary">
  <div class="panel-heading" ><h2>User Operation</h2> 
  <p>Use this form to record your patent</p>
  </div>
  <div class="panel-body">
    <form #patentForm="ngForm"  novalidate>
      <div class="form-group">
        <label>Company</label>
        <input name="company" type="text" class="form-control" [(ngModel)]="patentModel.company" required id="company" >
      </div>
      <div class="form-group">
        <label>Name</label>
        <input name="name" type="text" class="form-control" [(ngModel)]="patentModel.name" required id="name" >
      </div>
      <div class=form-group>
        <label>Description</label>
        <textarea name="description"id="Description" type="text" class="form-control" cols="30" rows="10"
          [(ngModel)]="patentModel.description" required id="description" ></textarea>
      </div> 
      <div>Upload your patent <button  (click)="openUpDialog()">Upload File</button> </div>
      
      <div class="text-center">
       
      <button class="btn btn-primary text-center bg-info " style="margin-bottom:15px" [disabled]="patentForm.form.invalid"  (click)='recordPatent(patentModel)' >Record</button>
      </div>
    </form>
  </div>
</div></div>