<h1 class="text-center">Choose invention type</h1>

    <!-- <div class="card lg-col-4">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h4 class="card-title">Invention Disclosure Form</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <button class="btn">Vai all Pagina</button>
      </div>
    </div>

  </div>

  <div class="card lg-col-4">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Authorization of Request Prepararation</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <button class="btn">Vai all Pagina</button>
    </div>
  </div>
</div>

<div class="card lg-col-4">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Authorization to forward request to EPO</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <button class="btn">Vai all Pagina</button>
  </div>
</div> -->
<div class="text-center">
  <div class="row txt-center" style="margin-top: 3rem">

    <div class="card border-info m-3" style="max-width: 20rem">
      <div class="card-header">I</div>
      <div class="card-body">
        <h4 class="card-title">Invention Disclosure Form</h4>
        <button class="btn" routerLink="record">Vai</button>
      </div>
    </div>
    <div class="card border-info m-3" style="max-width: 20rem;">
      <div class="card-header">II</div>
      <div class="card-body">
        <h4 class="card-title">Authorization of Request Prepararation</h4>    
        <button class="btn" routerLink="record">Vai</button>   
      </div>
    </div>
    <div class="card border-info m-3" style="max-width: 20rem;">
      <div class="card-header">III</div>
      <div class="card-body">
        <h4 class="card-title">Authorization to forward request to EPO</h4>
        <button class="btn" routerLink="record">Vai</button>
      </div>
    </div>

</div></div>