<h1 class="text-center">Choose invention type</h1>
<div class="text-center">
  <div class="row " style="margin-top: 3rem">
<div class="col">
    <div class="card border-info ml-auto" style="max-width: 20rem">
      <div class="card-header">I</div>
      <div class="card-body">
        <h4 class="card-title">Invention Disclosure Form</h4>
      </div><div class="card-footer"><button id="cardbtn2" (click)="selectType('IDF')" class="btn btn-info" routerLink="record"> Vai all'inserimento</button></div>
    </div></div>
    <div class="col">
    <div class="card border-info mx-auto" style="max-width: 20rem;">
      <div class="card-header">II</div>
      <div class="card-body">
        <h4 class="card-title">Authorization of Request Prepararation</h4>    
      </div><div class="card-footer"><button id="cardbtn2" (click)="selectType('INTERNAL ID')" class="btn btn-info" routerLink="record"> Vai all'inserimento</button></div>
    </div></div>
    <div class="col">
    <div class="card border-info mr-auto" style="max-width: 20rem;">
      <div class="card-header">III</div>
      <div class="card-body">
        <h4 class="card-title">Authorization to forward request to EPO</h4>
      </div><div class="card-footer"><button id="cardbtn2" (click)="selectType('DOCS #')" class="btn btn-info" routerLink="record"> Vai all'inserimento</button></div>
    </div></div>

</div></div>