<app-header></app-header>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="text-center">
      <img src="../assets/logo_hl_new.png" style="width: 700 height=160">
    </div>
  </div>
</div>
<div class="col-sm-6 offset-sm-3">
  <app-alert></app-alert>
</div>
<div class="mt-10 col-sm-6 offset-sm-3 ">

</div>
<router-outlet></router-outlet>

<!-- <footer class="footer bg-primary sticky-bottom" style="height: 6rem;margin-top:5rem">
  <div class="text text-center " style="padding:5px"><p>Piattaforma PoC per la registrazione di brevetti | 
    registrarsi come User per archiviare i brevetti della propria azienda |  registrarsi come Validator per vedere i brevetti e validarli</p> </div>
<div class="text text-center mr-3"style="padding:5 px">@LinearSystem R&S </div>

</footer> -->